.container-fluid{
    background-color:#EBEAE5;
    padding: 100px;
}
.btn {
    border-radius: 0%;
    width: 220px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
   
    color: #FFFFFF;
    background-color: #25313C;
    border: #25313C;
}
.col{
    flex: 0 0 30%;
}
.modal-content{
    padding: 30px;
    margin-top: 70px;
    background-color: #EBEAE5;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
    text-align: end;
}
.report-row{
    margin-top: 10px;
}
.report-title{
    margin-left: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #25313C;
    text-decoration: underline;
}
.col-md-3{
    margin-left: 20px;
}
.vl {
    border-left: 1px solid #25313c44;
    height: 50px;
  }
.vl-h {
    border-left: 1px solid #adb0b372;
    height: 50px;
  }
  .vl-ride {
    border-left: 1px solid #adb0b372;
    height: 100%;
  }
.report-card-body{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.r-print-card-body{
    padding:0rem;
}
.col-1{
    max-width: 2.333333%;
}
.col-1-m{
    max-width: 15.333333%;
    flex: 0 0 9.733333%;
}
.col-2 {
    
    flex: 0 0 22.666667%;
    max-width: 56.666667%;
}
.col-2-d{
    flex: 0 0 12.666667%;
    max-width: 56.666667%;
}
.col-2-de{
    flex: 0 0 5.666667%;
    max-width: 56.666667%;
}
.col-2-t{
    flex: 0 0 22.666667%;
    max-width: 56.666667%;
}

.col-2-ride {
    flex: 0 0 32.666667%;
    max-width: 56.666667%;
}

.r-h5{
    padding-top: 10px;
    color: #fff;
}
.r-h5-d{
    padding-top: 10px;
    color:#25313C;
}
.r-h5-p{
    padding-top: 10px;
    color:#25313C;
    font-size: 20px;
    font-weight: 500;
}
.h5-ride{
    margin-bottom: 0rem;
}
.header-m{
    background-color: #25313c;
}
#divChart{
    display: block;
   
}
.form-group{
    margin-top: 15px;
  
  }
  .form-control{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: #D9D9D9;
    border-radius: 0%;
    height: 45px;

}


  
  .map-container {
    position: relative;
    height: 14rem;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    
  }
  
  .map-frame {
    height: 100%;
    
  }
  
  #map {
    height: 100%;
  }
  .card-body-ride-date{
    height: 40px;
  }
  .card-title-ride-date{
    padding: 5px;
    margin-left: 7px;
  }
  .card-ride{
    margin-bottom: 10px;
  }
  .p-location{
    background-color:#EBEAE5;
    
    
  }
  .dot-img{
    width: 15px;
}
.pin-img{
    width: 20px;
}
.star-img{
    width: 25px;
}
.p-padding{
   margin-bottom: 10px;
}
.address{
    padding-left: 25px;
    font-style: italic;
    font-weight: 450;
    font-size: 20px;
    line-height: 24px;

    color: #25313C;
}
.bookBtn{
    padding: 15px;
    margin-bottom: 10px;
    color: #D14054;
    border: 4px solid #D14054;
    background-color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
    width: 95%;
}
.detailsBtn{
    margin-left: 10px;
    margin-top: 10px;
    background-color: #D14054;
    border-color: #D14054;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}
.total{
    color: #D14054;
}
.greenBtn{
    background-color: green;
    border-radius: 5px;
    border-color: green;
    color: #fff;
    margin-top: 13px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
}