.container-fluid{
    background-color:#EBEAE5;
    padding: 100px;
}
.btn {
    border-radius: 0%;
    width: 220px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
   
    color: #FFFFFF;
    background-color: #25313C;
    border: #25313C;

}

.card-title{
    margin-top: 10px;
}

h1{
    padding-bottom: 15px;
    color: #25313C;
}
.card-body{
    padding-top: 0.5rem;
}
.hr-dotted{
    border: 4px dotted #25313C;
    border-style: none none dotted; 
    color: #fff; 
    background-color: #fff;
}
.p-padding{
    padding-left: 35px;
    padding-right: 30px;
}
.center-end{
    padding-right: 10px ;
    text-align: end;
}
.price{
    color: #D14054;
}
.total{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #25313C;

}
.address{
    padding-left: 25px;
    font-style: italic;
    font-weight: 450;
    font-size: 20px;
    line-height: 24px;

    color: #25313C;
}
.time{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #D14054;
}
.driver{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: rgba(37, 49, 60, 0.7);
}
.dot-img{
    width: 15px;
}
.pin-img{
    width: 20px;
}

.col{
    flex: 0 0 30%;
}
.modal-content{
    padding: 30px;
    margin-top: 70px;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
    text-align: end;
}
.report-row{
    margin-top: 10px;
}
.report-title{
    margin-left: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #25313C;
    text-decoration: underline;
}
.col-md-3{
    margin-left: 20px;
}
.vl {
    border-left: 1px solid #25313c44;
    height: 50px;
  }
.report-card-body{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.report-card-body-d{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10px;
}
.r-print-card-body{
    padding:0rem;
}
.r-col-8{
    padding-top: 4px;
    max-width: 69.666667%;;
}
.r-col-1{
    max-width: 19.333333%;
    padding: 0;
}
.r-col-1-vl{
    max-width: 19.333333%;
}
.r-rightTitles{
    color: #25313c7d;
    margin-bottom: 0rem;
}
.r-rightValues{
    margin-bottom: 0rem;
    font-weight: 600;
}
.time-img{
    height: 30px;
    width: 31px;
    margin-top: 7px;
    margin-right: 9px;
    margin-left: 3px;
}
.money-img{
    height: 28px;
    width: 43px;
    margin-top: 9px;
}
.printBtn{
    background-color: #25313c12;
    color: #25313C;
    border: 0;
    height: 69px;
    width: 269.1px;
}
.r-h5{
    padding-top: 10px;
}
.r-h5-d{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
}
.header{
    background-color: #d140539e;
}
#divChart{
    display: block;
   
}