<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-3">
            <h1>History</h1>
        </div>
        <div class="col-4">
            <button class="btn generete-btn">Generete report</button>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tuesday, Novemer 21, 2022</h5>
              <hr>
              <div class="p-padding">
                <p class="card-text time"><img class = "img-logo dot-img" src="./assets/images/dot.png">&nbsp;&nbsp;7:30pm <span class="address">Puskinova 3</span></p>
                <p class="card-text time"><img class = "img-logo pin-img" src="./assets/images/pin.png">&nbsp;&nbsp;8:00pm <span class="address">Mise Dimitrijevica 3</span></p>
                <p class="card-text driver">Driver: <span>Tamara Dzambic</span></p>
              </div>
              <hr class="hr-dotted">
              <div class="center-end">
                <p class="card-text total">Total: <span class="price">RSD 2430,00</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Tuesday, Novemer 21, 2022</h5>
                <hr>
                <div class="p-padding">
                  <p class="card-text time"><img class = "img-logo dot-img" src="./assets/images/dot.png">&nbsp;&nbsp;7:30pm <span class="address">Puskinova 3</span></p>
                  <p class="card-text time"><img class = "img-logo pin-img" src="./assets/images/pin.png">&nbsp;&nbsp;8:00pm <span class="address">Mise Dimitrijevica 3</span></p>
                  <p class="card-text driver">Driver: <span>Tamara Dzambic</span></p>
                </div>
                <hr class="hr-dotted">
                <div class="center-end">
                  <p class="card-text total">Total: <span class="price">RSD 2430,00</span></p>
                </div>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Tuesday, Novemer 21, 2022</h5>
                <hr>
                <div class="p-padding">
                  <p class="card-text time"><img class = "img-logo dot-img" src="./assets/images/dot.png">&nbsp;&nbsp;7:30pm <span class="address">Puskinova 3</span></p>
                  <p class="card-text time"><img class = "img-logo pin-img" src="./assets/images/pin.png">&nbsp;&nbsp;8:00pm <span class="address">Mise Dimitrijevica 3</span></p>
                  <p class="card-text driver">Driver: <span>Tamara Dzambic</span></p>
                </div>
                <hr class="hr-dotted">
                <div class="center-end">
                  <p class="card-text total">Total: <span class="price">RSD 2430,00</span></p>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>