<div class="footer">
    <div class="foot-div">
        <h2>ABOUT TAAXI</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Proin mattis mauris odio, et consequat purus malesuada in. 
            Nunc porttitor magna vel massa viverra dapibus. 
            Sed commodo justo in nisl ornare, eu bibendum eros interdum.
            Sed tincidunt auctor est quis efficitur. Nulla malesuada turpis elit, a rutrum eros semper quis.</p>
    </div>
    <div class="foot-div">
        <h2>DOWNLOAD</h2>
        <hr> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis mauris odio.</p>
        <div class="container" >
            <div class="icon">                
                <img src="../../assets/images/android.png" alt="">
            </div>
            <div class="text"><p>Android users</p> </div>
        </div>
        <div class="container">
            <div class="icon">
                <img src="../../assets/images/apple.png" alt="">
            </div>
            <div class="text"><p>Apple users</p> </div>
        </div>
    </div>    
    <div class="foot-div">
        <h2>CONTACT</h2>
        <hr>
        <div class="container">
            <div class="icon">
                <img src="../../assets/images/map.png" alt="">
            </div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
        </div>
        <div class="container">
            <div class="icon">
                <img src="../../assets/images/phone.png" alt="">
            </div>
            <div class="text">
                <p>+381 66 908 0792</p>
                <p>+381 64 536 3376</p>  
                <p>+381 64 563 8986</p> 
            </div>
        </div>
        <div class="container">
            <div class="icon">
                <img src="../../assets/images/mail.png" alt="">
            </div>
            <div class="text">ubertimbr19@gmail.com</div>
        </div>
  
    </div>
</div>
