.container-fluid{
    background-color: #EBEAE5;
}
h1{
    padding-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #D14054;
}
.img{
    height: 400px;
    margin-right: 100px;
}
.card{
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: #889FB4;
    border-radius: 0;
    border: 0;
    z-index: 10;
}
.card-body{
    padding-top: 150px;
}
.card-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 35px;
}
.card-title{
    text-align: center;
    color: #D14054;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}
view{
    padding-top: 80px;
}
.card-img{
    position: absolute;
    z-index: 100;

}
.lux{
    width: 85%;
}
.c{
    width: 10%;
}