<div class="container-fluid"  id = "vehicles">
   <h1>OUR VEHICLES</h1>
   <div class="container">
    <div class="row justify-content-md-center view">
        <div class="col col-lg-4">
            <img class = "card-img" src="./assets/images/standardAuto.png">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">STANDARD</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             
                </div>
              </div>
        </div>
        <div class="col-lg-4 ">
            <img class = "card-img" src="./assets/images/bussinessAuto.png">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">BUSSINESS</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col col-lg-4">
            <img class = "card-img lux" src="./assets/images/luxAuto.png">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">LUX</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 
                </div>
              </div>
        </div>
    </div>
</div>

