.app-nav-icons{
    background-color: #25313C;
}
.img-logo{
    width: 50%;
   cursor: pointer;
}
.row{
    padding-top: 50px;
    padding-bottom: 30px;
}
.modal-content{
    margin-bottom: 30px;
}
.rectangle{
    display:block;
    min-width: 300px;
    background:#D9D9D9;
    position:absolute;
    margin-top:10px;
    z-index: 100;
    top: 200px;
    padding: 20px;
    padding-bottom: 30px;

  }
  .limitTextHeight {
    height: 30px;
    width: 180px;
    overflow: hidden;
}
#createBtn{
    color: #fff;
    background-color: green;
    border-color: green;
    font-size: 15px;
    font-weight: 400;
    width: 80%;
    height: 34;
}
.r2{
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.circle{
    position:absolute;
    height:110px;
    width:110px;
    border-radius:60px;
    left:47%;
    margin-left:-45px;
    top: -38px;
    background:#D9D9D9;
      z-index: 100;
}
.img-logo-ratings{
    height:75px;
    width:75px;
    margin-left:0;
    margin-right: 5px;
    margin-top: 11px;
}
.titleLabel{
    margin-top: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    text-align: center;

    color: #25313C;

}
.r-h5-f{
    padding-bottom: 15px;
}
p{
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: #25313C;
}
.underlined{
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    text-decoration-line: underline;

    color: rgba(37, 49, 60, 0.5);
}
.img-dot{
    width: 10px;
    height: 10px;
}
.img-pin{
    width: 16px;
    height: 22px;
}
.img-star{
    width: 25px;
    height: 25px;
}

.label{
    font-weight: 600;
    text-align: start;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 0;
}
.location{
    font-size: 13px;
    font-weight: 300;
    margin-left: 65px;
    text-align: start;
    margin-bottom: 0;
}
.a-close{
    float: center;
}
.addNewBtn{
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 18px;
    color:#fff;
    border: 3px solid #25313C;
    background-color: #25313C;
    font-size: 18px;
    font-weight: 500;
    width: 75%;
    height: 65%;
}
.row-favorite-route{
    padding: 0;
    margin-top: 10px;
}
.row-ratings{
    padding-top: 0;
    padding-bottom: 0;
}

.rating {
    border: 2px;
    border-color: #25313C;
    margin-right: 0px;
    font-size: 1.25em;
    padding-right: 50px;

}

.myratings{

font-size: 35px;
color: green;
}

.rating > [id^="star"] { display: none; }
.rating > label:before {
    padding-top: 0;
    padding-left: 0;
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
content: "\f089";
position: absolute;
}

.rating > label {
    color: rgb(68, 65, 65);
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > [id^="star"]:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > [id^="star"]:checked + label:hover, /* hover current star when changing rating */
.rating > [id^="star"]:checked ~ label:hover,
.rating > label:hover ~ [id^="star"]:checked ~ label, /* lighten current selection */
.rating > [id^="star"]:checked ~ label:hover ~ label { color: #FFED85;  }
