<div class="app-nav-icons">
    <div class="row justify-content-center">
        <div class="col col-lg-2 text-center">
            <a class="nav-link" (click)="scrollRideHistory()" > <span class="sr-only">(current)</span>
                <img class = "img-logo" src="./assets/images/rideHistory.png">
            </a>
        </div>
        <div class="col col-lg-2 text-center">
            <a href="#"><img class = "img-logo" data-bs-toggle="modal" data-bs-target=".bd-example-modal-sm" src="./assets/images/ratings.png"></a>
            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="rectangle">
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="circle">
                                <img class = "img-logo-ratings " src="./assets/images/commentLogo.png">
                            </div>
                            <label for="text" class="titleLabel">Enjoying TAXXI?</label>
                            <p for="text" class="price">How would you rate our service?</p>
                            <div class="container d-flex justify-content-center mt-100">
                                <div class="row row-ratings">
                                             <span class="myratings" id="myratings" [innerHTML]="star">4.2</span>
                                                <fieldset class="rating">
                                                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                                    <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                                    <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                                    <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                                    <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                                    <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                                </fieldset>
                                            </div>
                                        </div>
                            <a href="#" class="a-close" data-bs-dismiss="modal" aria-label="Close"><p for="text" class="underlined" >Maybe, next time!</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-2 text-center">
            <a href="#"><img class = "img-logo" data-bs-toggle="modal" data-bs-target=".bd-example2-modal-sm" src="./assets/images/ratings.png" src="./assets/images/favoriteRoute.png"></a>
            <div class="modal fade bd-example2-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body rectangle r2">
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="circle">
                                <img class = "img-logo-ratings" src="./assets/images/starLogo.png">
                            </div>
                            <label for="text" class="titleLabel">Favorite routes</label>
                            <div *ngFor="let favRoute of favoriteRoutes">
                            <p class="label"><a (click)="deleteFavRoute(favRoute.id)"><img class = "img-star" src="./assets/images/star.png"></a>&nbsp;&nbsp;{{favRoute.favoriteName}}</p>
                            <p class="location" [ngClass]="{'limitTextHeight': true}"><img class = "img-dot" src="./assets/images/dot.png">&nbsp;&nbsp;&nbsp;{{favRoute.locations[0].departure.address}}</p>
                            <p class="location" [ngClass]="{'limitTextHeight': true}"><img class = "img-pin" src="./assets/images/pin.png">&nbsp;&nbsp;{{favRoute.locations[0].destination.address}} </p>

                        </div>
                            <div>
                                <button class="addNewBtn" (click)="addNewRoute()">ADD NEW</button>
                                <div class="card card-ride"  id="addNewBtn" style="display: none;">
                                    <div class="card-body">
                                          <h5 class="r-h5-f">New favorite route</h5>
                                          <div class="form-group">
                                            <div class="row row-favorite-route">
                                              <div class="col">
                                                <input id = "favRouteName" type="text" placeholder="Name" name="favRouteName" class="form-control"/>
                                              </div>
                                            </div>
                                            <div class="row row-favorite-route">
                                                <div class="col">
                                                  <input id = "favFromLocation" type="text" placeholder="From" name="from" class="form-control"/>
                                                </div>
                                              </div>
                                          </div>
                                          <div class="row row-favorite-route">
                                            <div class="col">
                                              <input id = "favToLocation" type="text" placeholder="To" name="to" class="form-control"/>
                                            </div>
                                          </div>
                                          <div class="row row-favorite-route">
                                            <div class="col">
                                              <button id="createBtn">Create</button>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col col-lg-2 text-center" >
          <img class = "img-logo" [routerLink]="['/statistics']" src="./assets/images/reports.png" *ngIf="role=='ADMIN'">
          <img class = "img-logo" (click)="filter()" src="./assets/images/reports.png" *ngIf="role!='ADMIN'"></div>
      </div>
</div>
