<div class="rectangle" *ngIf="hasRide">
    <div class="circle">
        <img class = "img-logo " src="./assets/images/logoCircle.png">
    </div>
    <label for="text" class="titleLabel">Total</label>
    <p for="text" class="price">RSD <span style="font-size: 30px;">2410,00</span></p>
    <p class="card-text time"><img class = "img dot-img" src="./assets/images/whiteDot.png">&nbsp;&nbsp;&nbsp; Strumicka 6</p>
    <p class="card-text time" ><img class = "img pin-img" src="./assets/images/whitePin.png">&nbsp;&nbsp; Brace Ribnikar 17</p>           
    <div class="row">
        <div *ngIf="!accepted">
            <button class="accept-btn" (click)="accept()">ACCEPT</button>
            <button class="decline-btn" (click)="decline()">DECLINE</button>
        </div>
        <div *ngIf="accepted">
            <button class="accept-btn" (click)="start()">START</button>
            <button class="decline-btn" (click)="end()">END</button>   
        </div>



    </div>
</div>
<button id="panicBtn" class="btn" type="button" (click)="panic()" *ngIf="accepted">PANIC</button>
              