<div id="map-container-google-2" class="z-depth-1-half map-container">
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=19.771356582641605%2C45.223119870275056%2C19.881734848022464%2C45.26536197178038&amp;layer=mapnik" style="width: 100%; height: 100vh;padding-top: 3rem
    ;"
            allowfullscreen><br/><small><a href="https://www.openstreetmap.org/#map=14/45.2442/19.8265">Map</a></small>

    </iframe>
  </div>
