#p40{
  display: block;
  height: 39rem;  
  z-index:1; 
  position:relative;
}

.map-container {
  position: absolute;
  height: 38rem;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}
