#p40{
  display: block;
  height: 40rem;  
  z-index:1; 
  position:relative;
}

.map-container {
  position: absolute;
  height: 36rem;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px 10px;
  z-index: 10;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
