<p id= "p40"></p> 
<div class="map-container">
  <div class="map-frame">
    <div id="map"    style="height: 100%; width: 100%"
    leaflet
    [leafletOptions]='options'
    [leafletLayers]='mainGroup' 
    >
    </div>
  </div>
</div>

<div class="app-coordinates" *ngIf="(role == 'PASSENGER' && !hasRequest && !hasRide)|| role == null">
  <app-coordinates></app-coordinates> 
</div>
<!-- <div class="waiting-for-driver">
  <div class="rectangle left white" *ngIf="(role == 'PASSENGER' && !hasRide)">
    <div class="circle white" >
        <img class = "img-logo " src="./assets/images/logoCircle.png">
    </div>
    <label for="text" class="searchTitle">Searching for driver</label>
    <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/kUTME7ABmhYg5J3psM" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/loading-load-builtbybritt-kUTME7ABmhYg5J3psM"></a></p>
    <button class="decline-btn" (click)="decline()">DECLINE</button>
  </div>
</div> -->

<div class="app-follow-ride" *ngIf="role == 'PASSENGER' && hasRequest">
  <app-follow-ride></app-follow-ride>
</div>

<div id="rideOffer" class="app-follow-ride-driver"  *ngIf="role == 'DRIVER'">
  <app-follow-ride-driver></app-follow-ride-driver>
</div>


<div *ngIf="role != null">

  <div class="app-nav-icons">
    <app-nav-icons></app-nav-icons> 
  </div>
</div>

<div *ngIf="role != null">
  <div class="app-ride-history">
    <app-ride-history></app-ride-history> 
  </div>
</div>

<div *ngIf="role === null">
  <div class="app-about">
    <app-about></app-about> 
  </div>

  <div class="app-vehicle-cards">
    <app-vehicle-cards ></app-vehicle-cards> 
  </div>

  <div class="app-download-app">
    <app-download-app ></app-download-app> 
  </div>
</div>


