<div class="rectangle left white" *ngIf="!hasRide && !rateNow">
    <div class="circle white" >
        <img class = "img-logo " src="./assets/images/logoCircle.png">
    </div>
    <label *ngIf="!waitingForDriver" for="text" class="searchTitle">Searching for driver</label>
    <label *ngIf="waitingForDriver" for="text" class="searchTitle">Waiting for driver</label>

    <div *ngIf="time.length == 0" style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/kUTME7ABmhYg5J3psM" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/loading-load-builtbybritt-kUTME7ABmhYg5J3psM"></a></p>
    <div *ngIf="time.length != 0"><p>{{ride.driver.name + " will arive in " + time + " minutes"}}</p></div>
    <button class="decline-btn" (click)="decline()">CANCEL</button>
</div>


<div id="rateNow"  class="rateNow rectangle" *ngIf="rateNow">
    <div class="circle2">
        <img class = "img-logo-ratings" src="./assets/images/starLogo.png">
    </div>
    <label for="text" class="rate2">Enjoying TAXXI?</label>
    <p for="text" class="price">How would you rate our service?</p>
    <input type="text" placeholder="Comment" class="commentInput">
    <div class="container d-flex justify-content-center mt-100">
        <div class="row row-ratings">
           <span class="myratings" id="myratings"></span>
           <div class="col-6">
           <fieldset class="rating">
               <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
               <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
               <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
               <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
               <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
               <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
               <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
               <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
               <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
               <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
           </fieldset>
           </div>
           <div class="col-1">
            <button class="greenBtn2" (click)="rateDriver(true)">/</button>
          </div>
       </div>
    </div>
       <a class="a-close" (click)="rateDriver(false)"><p for="text" class="underlined" >Maybe, next time!</p></a>
</div>




<div class="rectangle" *ngIf="hasRide" >
    <div class="circle">
        <img class = "img-logo " src="./assets/images/logoCircle.png">
    </div>
    <label for="text" class="titleLabel">Total</label>
    <p for="text" class="price"><span style="font-size: 30px;">&nbsp;{{ride.totalCost}}</span>&nbsp; RSD</p>
    <label for="text" class="titleLabel" style="margin-top: 0;">Duration</label>
    <p for="text" class="price"><span style="font-size: 30px;">&nbsp;{{rideDuration}}</span>&nbsp; MIN</p>
    
    
    <div (click)="showText()">
        <p id="favFromLocation" class="card-text time"[ngClass]="{'limitTextHeight': isReadMore}"><img class = "img dot-img" src="./assets/images/whiteDot.png">&nbsp;&nbsp;&nbsp;{{ride.locations[0].departure.address}}</p>
        <p id="favToLocation" class="card-text time"[ngClass]="{'limitTextHeight': isReadMore}"><img class = "img pin-img" src="./assets/images/whitePin.png">&nbsp;&nbsp; {{ride.locations[0].destination.address}}</p>
    </div>

    <p for="text" class="card-text saveToFav"><a (click)="openInputFav()"><img src="./assets/images/favBookmark.png" alt="" class="favBookmark"></a>&nbsp;Add to favorites</p>
    <div id="favRouteRow"  style="display: none;">
      <div class="row" >
        <div class="col-8">
          <input type="text" id="favRouteName" class="inputNameFavLoc" placeholder="Name">
        </div>
        <div class="col-1">
          <button class="greenBtn2" id="createBtn">/</button>
        </div>
      </div>
    </div>
    
    
    <!--  <div class="row">
            <p for="text" class="rate">Rate driver:</p>
            <div class="container d-flex justify-content-center mt-100">
                <div class="row row-ratings">
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                </div>
            </div>

    </div>  -->
</div>

<button id="panicBtn" class="btn" type="button" (click)="openForm()" style="display: block;" *ngIf="rideStarted">PANIC</button>

<div class="card mt-3" id="panicReason" style="display: none;">
  <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <h6>Reason of panic</h6>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <div class="col-sm-3">
              <h6 class="mt-2">Reason</h6>
          </div>
          <div class="col-sm-9 text-secondary">
              <input type="text" id="reasonInput" class="form-control">
          </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-9 text-secondary">
              <button class="reasonPanicBtn"  id="changePass" (click)="panic()" style="width:100% ;">SEND PANIC</button>
          </div>
      </li>
  </ul>

</div>