<div class="rectangle">
    <div class="circle">
        <img class = "img-logo " src="./assets/images/logoCircle.png">
    </div>
    <label for="text">Total</label>
    <p for="text" class="price">RSD <span style="font-size: 30px;">2410,00</span></p>
    <p class="card-text time"><img class = "img dot-img" src="./assets/images/whiteDot.png">&nbsp;&nbsp;&nbsp; Strumicka 6</p>
    <p class="card-text time" ><img class = "img pin-img" src="./assets/images/whitePin.png">&nbsp;&nbsp; Brace Ribnikar 17</p>           
    <p for="text" class="rate">Rate us</p>
</div>