<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1>BEST IN CITY</h1>
            <h2>TRUSTED CAB SERVICE
            <br> IN NOVI SAD </h2>
            <div [ngClass]="{'limitTextHeight': isReadMore}">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis mauris odio, et consequat purus malesuada in. Nunc porttitor magna vel massa viverra dapibus. </p>

            </div>
            <div class="btn-container">
                <button id="moreBtn" class="btn btn-dark" type="button" (click)="showText()">{{ isReadMore ? 'READ MORE': 'READ LESS' }}</button>
              </div>
        </div>
        <div class="col-5">
            <img class = "img-logo" src="./assets/images/auto.png"> 
        </div>
    </div>
</div>
