<div class="container-fluid"  id = "download-app">
    <h1 class="downloadColour">DOWNLOAD <br><span class="titleColour"> BEST CAB SERVICE</span></h1>
    <div class="row m-0 p-0">
        <div class="col-7">
            <div>
                <p class="titleP">Download the UberTeam app free!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis mauris odio, et consequat purus malesuada in. Nunc porttitor magna vel massa viverra dapibus. Sed commodo justo in nisl ornare, eu bibendum eros interdum. Sed tincidunt auctor est quis efficitur. Nulla malesuada turpis elit, a rutrum eros semper quis.</p>
            </div>
            <div class="row">
                <div class="col-2 col-sm-3 col-md-2 col-lg-3">
                    <img class = "img" src="./assets/images/googlePlay.png"> 
                </div>
                <div class="col-2 col-sm-3 col-md-2 col-lg-3 as">
                    <img class = "img" src="./assets/images/appStore.png"> 
                </div>
                    
            </div>
        </div>
        <div class="col-4">
            <img class = "w-100 h-100" src="./assets/images/appHand.png"> 
        </div>
    </div>
    
</div>